<%- include('../partials/header') %>

<!-- <body id="disneyland"> -->
  <h2>Track your workouts here! Link videos, notes, times, reps, and anything else!</h2>

  <!-- <form action="/days" method="GET"> -->
      <div><a href="/days/new" <%- title === 'Add Day' ? 'class="active"' : '' %>>ADD DAY</a> </div>

    <% days.forEach(function(day) { %> 
  <ul>
    <li><%= day.date %></li>
    <li><a href="/days/<%= day._id %>">DETAILS </a></li>
      <li>
        <form action="/days/<%= day.id %>?_method=DELETE"
          class="delete-day" method="POST">
          <button type="submit">X</button>
        </form>
        </li>
    
  </ul>
    <% }); %>


<%- include('../partials/footer') %>


  <!-- Insert all the created days here 
    each day redirect to days/:id button on day selected
    each day edit day button on day selected
      open day and put all workouts within in edit mode
      put day name in edit mode
    each day delete day button on day selected
      delete all workouts within a day and the day schema
    new day separate button
  -->



