<%- include('../partials/header') %>

<section>
<div>Date: <%= day.date %></div>
<div>Workouts</div>
<div><a href="/workouts/new/days/<%= day.id %>" <%- title === 'Add Workout' ? 'class="active"' : '' %>>ADD WORKOUT</a> </div>

<table>
   <% day.workouts.forEach(workout => { %>
    <div><a href="/workouts/edit/days/<%= workout.id %>" <%- title === 'Edit Workout' ? 'class="active"' : '' %></a> EDIT </div>

    <tr>
        <td>Name: </td>
        <td>Notes: </td>
        <td>Image: </td>
        <td></td>
    </tr>    
    <tr>
            <td><%= workout.name %></td>
            <td><%= workout.notes %></td>
            <td><img src="<%= workout.image %>" alt="image"></td>
            <td><form action="/days/<%= day.id %>?_method=DELETE"
                class="delete-workout" method="POST">
                <button type="submit">Delete</button>
              </form></td>
        </tr>
    <% }) %> 


</table>
</section>


<%- include('../partials/footer') %> 